.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.header_left{
    display: flex;
    gap: 20px;
}

.header__logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}

.header__logo > p{
    font-size: 20px;
}

.btn{
    cursor: pointer;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    background: #FE5F1E;
    color: white;
    border: none;
    border-radius: 50px;
}

.btn__teleshka{
    margin-left: 10px;
    padding-left: 10px;
    border-left:1px solid rgb(218, 218, 218) ;
    display: flex;
    align-items: center;
    gap: 5px;
}